.co-name {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
}

.profil h3 {
    color: white;
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.co-project-content-school {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}

.card-project-school {
    border-radius: 0.5rem;
    background: radial-gradient(83.58% 466.3% at 88.14% 12.93%, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%), #0f1f29;
    box-shadow: -6px 7px 31px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -6px 7px 31px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 7px 31px -7px rgba(0, 0, 0, 0.75);
    justify-content: center;
}

.content-project-school {
    padding: 1.1rem;
}

.button-card-project {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 10px;
}

.action-p-button {
    display: flex;
    margin-top: 12px;
}

.action-button {
    padding: 5px 20px;
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid #0f1f29;
    border-radius: 8px;
    cursor: pointer;
    transition: 400ms;
    font-size: 16px;
    font-weight: 600;
}

.iframe{
    width: 20px;
}

.action-p-button :hover {
    background-color: var(--white);
    border: 2px solid var(--blue);
    color: var(--blue);
}

@media screen and (max-width: 770px) {
    .co-project-content-school {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
    }

    .co-name {
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 20px;
    }

    .profil h3 {
        color: white;
        font-family: 'Figtree', sans-serif;
        font-weight: 700;
        font-size: 30px;
    }
}

@media screen and (max-width: 450px){
    br {
        display: inline;
    }
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}