@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root
{
    --purple: #5F7ADB;
    --purple-w : #A2B2EE;
    --black: #26292B;
    --grey: #2E3239;
    --white: #F7F7F7;
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-color: var(--white);
    color: var(--white);
}

.navbar
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    padding: 20px 40px;
    color: #F7F7F7;
}

.navbar ul
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.navbar a
{
    text-decoration: none;
    color: inherit;
}

.navbar a:hover
{
    border-bottom: 2px solid var(--white);
}

.logo
{
    width: 25%;
}

.list
{
    list-style: none;
    display: flex;
    gap: 25px;
}

#burger,.navbar label
{
    display: none;
}

@media screen and (max-width: 600px)
{
    .menu
    {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list
    {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label
    {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    .logo
    {
        width: 60%;
    }

    .burger {
        position: relative;
        width: 30px;
        height: 20px;
        background: transparent;
        cursor: pointer;
        display: block;
    }

    .burger input {
        display: none;
    }
      
    .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
      
    .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
    }
      
    .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }
      
    .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }
      

    #burger:checked ~ .menu
    {
        max-height: 100%;
    }

}